---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="LED Strip Light">
  <main>
    <h1 class="text-gradient">LED Controlled Via Rapberry-Pi</h1>
    <Card title="Hardware">
      <ul>
        <li>
          <a
            href="https://www.amazon.com/gp/product/B018X04ES2/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&th=1"
            >WS2812</a
          >
        </li>
        <li>
          <a href=" ">Raspberry Pi Zero W</a>
        </li>
      </ul>
    </Card>
    <Card title="Software Host">
      <h1>hi</h1>
    </Card>
    <Card title="Software Rapberry-Pi">
      <ul>
        <li>
          <a href=""></a>
        </li>
        <li>
          Some of the commands below are not required for the desktop version of
          the Rapberry-Pi OS only version of no desktop require it.
        </li>
        <li>
          <code>sudo nano /etc/modprobe.d/snd-blacklist.conf</code> and add
          <code>blacklist snd_bcm2835</code>.
        </li>
      </ul>
      <pre
        class="bg-gray-50 roundedlg">
        sudo apt update
        sudo apt upgrade
        sudo apt install python3-pip
        sudo pip install rpi_ws281x
        sudo apt install git
        git clone https://github.com/rpi-ws281x/rpi-ws281x-python
        
        cd 
      </pre>
      <ul>
        <li>
          <a href="https://github.com/jgarff/rpi_ws281x"
            >rpi_ws281x driver source repo</a
          >
        </li>
      </ul>
    </Card>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  pre {
    white-space: pre-wrap;
  }
  code {
    background: lightgray;
    padding: 0.5rem;
  }
</style>
